# Source files
src/
public/

# Config files
.eslintrc
eslint.config.js
.prettierrc
.prettierignore
vite.config.ts
tsconfig*.json
!tsconfig.build.json

# Development and build files
node_modules/
coverage/
.vscode/
.idea/
*.log
.DS_Store
*.tsbuildinfo

# Demo and example files
index.html